@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #3b76ef;
  --text-light: #677271;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f6ff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
span {
  letter-spacing: 1.8px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Sidebar */
.nav-link {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.6rem 0.5rem;
  font-weight: 500;
}

.active-link {
  background-color: #ecf3ff;
  color: #4b5251;
  padding: 0.6rem 1.7rem;
  opacity: 1;
  display: flex;
  gap: 0.6rem;
  font-weight: 500;
}

.active-link .MuiSvgIcon-root {
  color: #4b5251;
}

.active-link span {
  opacity: 1;
}

/* Stats */
.stat-icon {
  background-color: rgba(39, 157, 237, 0.2);
}

.stat-icon .MuiSvgIcon-root {
  font-size: 4rem;
  color: rgba(39, 157, 237, 0.6);
}
